
/* 전역변수 설정 */
:root {
  
  /* color */
  --white-color: #fff;
  --black-color: #000;
  --red-color: #ec2020;
  --blue-color: #09c;
  --navy-color: #143b68;
  --gray-light-color: #999;
  --gray-dark-color: #666;

  /* size */
  --padding: 12px;
  --imgicon-large-size: 50px;
  --imgicon-medium-size: 32px;
  --imgicon-small-size: 20px;

  /* font-size */
  --font-large: 22px;
  --font-medium: 18px;
  --font-small: 14px;
  --font-micro: 10px;
}

  /* 기본 세팅 */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

div {
  margin: 0;
}

a {
  /* text-decoration: none; */
  /* all : 요소에 적용된 값들을 초기화 할 수 있게 만들어 줌 */
  all: unset;
  cursor: pointer;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--gray-light-color);
}
header .logo {
  display: flex;
  margin: 1%;
  margin-left: 4%;
}
header .search {
  /* display: flex; */
  margin: 0;
  margin-top: 1%;
  margin-left: 15%;
  width: 30%;
  height: var(--imgicon-large-size);
}
/* placeholder 중앙 배치 */
input::placeholder {
  text-align: center;
}
/* 검색창 조절 */
header .search .search_input {
  width: 70%;
  height: 60%;
  /* margin-top: 5%; */
}
/* 아이콘 조절 */
header .icons {
  display: flex;
  justify-content: space-between;
  margin: 1%;
  margin-right: 4%;
  width: 20%;
}
header .icons li a img {
  position: relative;
  margin-top: 20%;
  width: var(--imgicon-small-size);
  height: var(--imgicon-samll-size);
}

/* main */
main {
  padding: calc(var(--padding) * 2) 0;
  display: flex;
  flex-direction: row;
}
main .photo {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-light-color);
  border-radius: 4px;
  margin-left: 4%;
}
main .photo .photo_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  font-size: var(--font-medium);
}
main .photo .photo_header_left,
main .photo .photo_header_right {
  margin: 0;
}
main .photo .photo_header_left {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
/* 포토헤더 이미지 크기 수정 */
main .photo .photo_header img {
  width: var(--imgicon-small-size);
  height: var(--imgicon-samll-size);
}
/* 포토헤더 이름 위치 수정 */
main .photo .photo_header .photo_header_left .name {
  /* margin-top: -4px; */
  margin-left: 15px;
  letter-spacing: 2px;
  font-size: var(--font-small);
}
main .photo .photo_header_right a .fa {
  margin-right: 2px;
}

main .photo_main {
  width: 100%;
  height: 100%;
  /* 최대 확장 크기 지정 */
  max-width: 600px;
  max-height: 600px;
}

/* 사진 하단 아이콘 배치 */
main .photo_info {
  width: 100%;
  display: flex;
  padding: 1%;
}
/* 사진 하단 좌측 아이콘 배치 */
main .photo_info .photo_info_left {
    width: 30%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
}
/* 사진 하단 우측 아이콘 배치 */
main .photo_info .photo_info_right {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
}

/* 사진 하단 글 배치 */
main .photo_conmment {
  margin: 0;
  padding: 0% 2%;
  font-size: var(--font-small);
}
/* 사진 하단 좋아요 글 조정 */
main .photo_conmment .photo_comment_like {
  display: inline-flex;
}
/* 사진 하단 좋아요 글 위치 상세 조정 */
/* main .photo_conmment .photo_comment_like span {

} */
/* 사진 하단 좋아요 내부 사진 크기 조정 */
main .photo_conmment .photo_comment_like .photo_comment_like_img {
  inline-size: 80%;
}

/* 사진 하단 댓글 부분 글자 수정 */
.photo_comment_reply_view {
  font-size: 12px;
  color: var(--gray-light-color);
  padding-top: 2px;
}
/* 사진 하단 댓글 시간 부분 조정 */
.photo_comment_reply_time {
  padding: 2% 0;
  font-size: var(--font-micro);
  color: var(--gray-light-color);
}

/* 사진 하단 댓글 새로달기 부분 조정 */
.photo_comment_reply_new {
  border-top: 1px solid;
  padding: 2% 0;
  display: flex;
  justify-content: space-between;
}
/* 사진 하단 댓글 글자 위치 및 배치 상세 조정 */
.photo_comment_reply_new .photo_comment_reply_new_left {
  margin: 0;
  color: var(--gray-light-color);
}
.photo_comment_reply_new .photo_comment_reply_new_right {
  margin: 0;
  color: var(--blue-color);
  font-weight: 900;
}

/* -------------------------------------- */
/* 우측 정보 표시 부분 */

/* 우측 정보 전체 박스 위치 조정 */
main .info {
  margin: 0 4% 0 2%;
}
/* 우측 본인 정보 사진 크기 조정 */
main .info a img {
  width: var(--imgicon-large-size);
  height: var(--imgicon-large-size);
}
/* 우측 본인 정보 글자 크기 조정 */
main .info .info_member {
  font-size: var(--font-small);
  display: flex;
}
/* 우측 본인 정보 a 태그 박스 크기 조정 */
main .info .info_member a {
  width: max-content;
}
/* 우측 본인 정보 글자 위치 조정 */
main .info .info_member .info_name {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 1% 0 1% 3%;
}
/* 우측 본인 정보 글자 하단 색상 및 크기 조정 */
main .info .info_member .info_name_bottom {
  margin: 0;
  font-size: var(--font-micro);
  color: var(--gray-light-color);
}

/* 우측 정보 스토리 부분 경계선 및 내부 여백 부여 */
.info .info_story {
  border: 1px solid var(--gray-light-color);
  border-radius: 4px;
  padding: 4%;
  margin: 4% 0;
}
/* 우측 정보 스토리 상단 글자 박스 수정 */
.info .info_story .info_story_top {
  display: flex;
  justify-content: space-between;
}
/* 우측 정보 스토리 상단 좌측 글자 수정 */
.info .info_story .info_story_top .info_story_top_left {
  margin: 0;
  font-size: var(--font-medium);
  color: var(--gray-dark-color);
}
/* 우측 정보 스토리 상단 우측 글자 수정 */
.info .info_story .info_story_top .info_story_top_right {
  margin: 0;
  font-size: var(--font-small);
  color: var(--black-color);
  padding-top: 2px;
}
/* 우측 정보 스토리 하단 글자 수정 */
.info .info_story .info_story_bottom span {
  font-size: var(--font-micro);
}

/* 우측 정보 추천 박스 위치 수정 및 외곽선 부여 */
.info .info_recommend {
  border: 1px solid var(--gray-light-color);
  border-radius: 4px;
  padding: 4%;
  margin: 4% 0;
}
/* 우측 정보 추천 글자 상단 박스 수정 */
.info .info_recommend .info_recommend_top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4%;
}
/* 우측 정보 추천 상단 좌측 글자 수정 */
.info .info_recommend .info_recommend_top .info_recommend_top_left {
  margin: 0;
  font-size: var(--font-medium);
  color: var(--gray-dark-color);
}
/* 우측 정보 추천 상단 우측 글자 수정 */
.info .info_recommend .info_recommend_top .info_recommend_top_right {
  margin: 0;
  font-size: var(--font-small);
  color: var(--black-color);
  padding-top: 2px;
}
/* 우측 정보 추천 하단 팔로우 전체 박스 조정 */
.info .info_recommend .info_recommend_main {
  display: flex;
  flex-direction: column;
}
/* 우측 정보 추천 하단 사진 크기 조정 */
.info .info_recommend .info_recommend_main .info_recommend_main_left a img {
  width: var(--imgicon-medium-size);
  height: var(--imgicon-medium-size);
}
/* 우측 정보 추천 하단 사진 및 글자 전체박스 조정 */
.info .info_recommend .info_recommend_main .info_recommend_main_left {
  display: flex;
}
/* 우측 정보 추천 하단 사진 위치 관련 a 상세 조정 */
.info .info_recommend .info_recommend_main .info_recommend_main_left a {
  margin-top: 4px;
}
/* 우측 정보 추천 하단 글자 전체 위치 및 크기 조정 */
.info .info_recommend .info_recommend_main .info_recommend_main_left .info_recommend_main_left_text {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  padding-left: 4%;
  width: 70%;
}
/* 우측 정보 추천 하단 글자 아이디(상단) 부분 조정 */
.info .info_recommend .info_recommend_main .info_recommend_main_left .info_recommend_main_left_text .info_recommend_main_left_text_top {
  margin: 0;
}
/* 우측 정보 추천 하단 글자 아이디(하단) 부분 조정 */
.info .info_recommend .info_recommend_main .info_recommend_main_left .info_recommend_main_left_text .info_recommend_main_left_text_bottom {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--gray-light-color);
}
/* 우측 정보 추천 하단 팔로우 버튼 전체 박스 크기 조정 */
.info .info_recommend .info_recommend_main .info_recommend_main_left .info_recommend_main_right {
  padding: 1% 0 0 6%;
  width: 18%;
}
/* 우측 정보 추천 하단 팔로우 버튼 색상 조정(커스터마이즈) */
/* .info .info_recommend .info_recommend_main .info_recommend_main_left .info_recommend_main_right button {
  font-size: var(--font-micro);
  border: 1px solid var(--gray-dark-color);
  background-color: rgba(0,0,0,0);
  padding: 1px;
  border-radius: 4px;
} */
/* 우측 정보 추천 하단 팔로우 버튼 색상 조정(오리지널) */
.info .info_recommend .info_recommend_main .info_recommend_main_left .info_recommend_main_right button {
  font-size: var(--font-micro);
  padding: 1px;
  border: none;
  color: var(--blue-color);
  background-color: var(--white-color);
  font-weight: 900;
}
/* 우측 정보 추천 하단 팔로우 버튼 호버 기능 */
/* .info .info_recommend .info_recommend_main .info_recommend_main_left .info_recommend_main_right button:hover {

} */
