
/* 전역변수 설정 */
:root {
  
  /* color */
  --white-color: #fff;
  --black-color: #000;
  --red-color: #ec2020;
  --blue-color: #09c;
  --navy-color: #143b68;
  --gray-light-color: #999;
  --gray-dark-color: #666;

  /* size */
  --padding: 12px;
  --imgicon-large-size: 50px;
  --imgicon-medium-size: 32px;
  --imgicon-small-size: 20px;

  /* font-size */
  --font-large: 22px;
  --font-medium: 18px;
  --font-small: 14px;
  --font-micro: 10px;
}

  /* 기본 세팅 */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  /* text-decoration: none; */
  /* all : 요소에 적용된 값들을 초기화 할 수 있게 만들어 줌 */
  all: unset;
  cursor: pointer;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--gray-light-color);
}
header .logo {
  display: flex;
  margin: 1%;
  margin-left: 4%;
}
header .search {
  /* display: flex; */
  margin: 0;
  margin-top: 1%;
  margin-left: 15%;
  width: 30%;
  height: var(--imgicon-large-size);
}
/* placeholder 중앙 배치 */
input::placeholder {
  text-align: center;
}
/* 검색창 조절 */
header .search .search_input {
  width: 70%;
  height: 60%;
  /* margin-top: 5%; */
}
/* 아이콘 조절 */
header .icons {
  display: flex;
  justify-content: space-between;
  margin: 1%;
  margin-right: 4%;
  width: 20%;
}
header .icons li a img {
  position: relative;
  margin-top: 20%;
  width: var(--imgicon-small-size);
  height: var(--imgicon-samll-size);
}

/* main */
main {
  padding-top: calc(var(--padding) * 2);
  display: flex;
  flex-direction: row;
}
main .photo {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-light-color);
  margin-left: 4%;
}
main .photo .photo_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  font-size: var(--font-medium);
}
main .photo .photo_header_left,
main .photo .photo_header_right {
  margin: 0;
}
main .photo .photo_header_left {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
/* 포토헤더 이미지 크기 수정 */
main .photo .photo_header img {
  width: var(--imgicon-small-size);
  height: var(--imgicon-samll-size);
}
/* 포토헤더 이름 위치 수정 */
main .photo .photo_header .photo_header_left .name {
  /* margin-top: -4px; */
  margin-left: 15px;
  letter-spacing: 2px;
  font-size: var(--font-small);
}
main .photo .photo_header_right a .fa {
  margin-right: 2px;
}

main .photo_main {
  width: 100%;
  height: 100%;
  /* 최대 확장 크기 지정 */
  max-width: 600px;
  max-height: 600px;
}

/* 사진 하단 아이콘 배치 */
main .photo_info {
  width: 100%;
  display: flex;
  padding: 1%;
}
/* 사진 하단 좌측 아이콘 배치 */
main .photo_info .photo_info_left {
    width: 30%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
}
/* 사진 하단 우측 아이콘 배치 */
main .photo_info .photo_info_right {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
}

/* 사진 하단 글 배치 */
main .photo_conmment {
  margin: 0;
  padding: 0% 2%;
  font-size: var(--font-small);
}
/* 사진 하단 좋아요 글 조정 */
main .photo_conmment .photo_comment_like {
  display: inline-flex;
}
/* 사진 하단 좋아요 내부 사진 크기 조정 */
main .photo_conmment .photo_comment_like .photo_comment_like_img {
  inline-size: 80%;
}